*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: sans-serif;
  color:white
}

/* topbar*/
.topbar{
  width: 100%;
  padding:1rem;
  border-bottom:solid 1.5px rgba(255, 255, 255, 0.171) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .logo{
  display: flex;
  align-items: center;
  margin:auto 6px;
  justify-content: center;
  gap: 4px;
}
.topbar .logo img{
  width: 25px;
  height: 25px;
}
.topbar .topbar-utils{
  display: flex;
  gap: 4px;
  
}
.topbar .topbar-utils button{
  border:none;
  background-color:rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  padding:6px;
  color:white;
  cursor: pointer;

}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:5rem
}
.home .action button{
  border:none;
  background-color:rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding:1rem;
  color:white;
  cursor: pointer;
  margin:1rem 4px;

}
.home .new-release{
  background-color:rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  padding: 3px 6px;
  font-size: small;
  border:.5px solid rgba(255, 255, 255, 0.247)

}